table {
    margin: auto
}

table, th, td {
    border: 1px solid black;
}

td.red {
  background: #ffa3a3;
}

td.green {
  background: #a2e5a7;
}

td.editable:hover {
  border-color: #64ADF4;
  box-shadow:0 0 10px #64ADF4;
}

tr.addedOnTheFly {
  background: #ffe6e6;
}

tr.total-row {
  font-weight: bold;
}

td.problems-cell {
  padding: 5px 10px;
  text-align: left;
  white-space: pre-wrap;
}
