table {
    margin: auto
}

table, th {
    border: 1px solid black;
}

.ResultPanel {
  text-align: left;
}

.printArea {
  text-align: center;
}

.displayOnlyOnPrint{
  visibility: hidden;
}

@media print {
  body * {
    visibility: hidden;
  }
  .displayOnlyOnPrint{
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
  .printArea * {
    visibility: visible;
  }
  .green {
    -webkit-print-color-adjust: exact;
  }
  .red {
    -webkit-print-color-adjust: exact;
  }
  .addedOnTheFly {
    -webkit-print-color-adjust: exact;
  }
  .printArea {
    position: absolute;
    left: 0;
    top: 100px;
  }
}
