.ResultPanel {
  text-align: left;
}

.printArea {
  text-align: center;
}

.displayOnlyOnPrint{
  display: none;
}

@media print {
  html, body, #root, .App {
    height : auto !important;
  }

  body * {
    visibility: hidden;
    height: auto;
  }
  .displayOnlyOnPrint{
    display: block;
  }
  .printArea {
    width: 100% !important;
    height: 100% !important;
  }
  .printArea * {
    visibility: visible;
  }
  .green {
    -webkit-print-color-adjust: exact;
  }
  .red {
    -webkit-print-color-adjust: exact;
  }
  .addedOnTheFly {
    -webkit-print-color-adjust: exact;
  }
  .maximize-width {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}
