---
- hosts: all
  gather_facts: False

  tasks:
    - name: Ansible check directory exists example.
      stat:
        path: workflow-monitor
      register: project_folder

    - name: Clone project
      raw: "git clone https://github.com/theodo/workflow-monitor.git"
      when: not project_folder.stat.exists

    - name: Pull project
      raw: "cd workflow-monitor && git fetch && git reset --hard origin/master"

    - name: Restart backend
      raw: "cd workflow-monitor/backend-nest && npm i && NODE_ENV=production node_modules/.bin/sequelize db:migrate && pm2 restart index"

    - name: Build frontend
      raw: "cd workflow-monitor/client && npm i && npm run build"

    - name: Copy final build in the served folder
      raw: "cp -r workflow-monitor/client/build/. workflow-monitor/client/build-prod"
