.Monitor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.Monitor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #222;
  color: white;
}

.Monitor-header-link {
  color: white;
  text-decoration: none;
}

.Monitor-content {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  background-color: #fafafa;
}

.Monitor-task-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Monitor-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  line-height: 100px;
  background-color: #222;
  color: white;
}

.Monitor-footer-bloc {
  margin: 28px;
}

.Monitor-footer-button {
  font-size: 1.5em;
}

.Monitor-footer-button:not(:disabled) {
  cursor: pointer;
}

.Monitor-footer-bloc > .Monitor-footer-button {
  color: white;
  background-color: #2B5BA0;
  border-radius: 3px;
}
.Monitor-footer-bloc > .Monitor-footer-button:hover {
  background-color: #72C2B7;
}

.Monitor-FullHeightPanel {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
