.Chrono {
  height: 100%;
  width: 100px;
  text-align: center;
  line-height: 50px;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
