.PlanningPanel-content {
  width: 80%;
  height: 300px;
  margin: auto;
  text-align: left;
}

.PlanningPanel-tasks-textarea {
  width: 100%;
  height: 300px;
  line-height: 20px;
}

.PlanningPanel-save-button-container {
  width: 100%;
  text-align: right;
  margin-bottom: 5px;
}

.PlanningPanel-title-input {
  width: 100%;
  font-size: 20px;
}
